[flake8]
max-line-length = 120
exclude = .tox,.git,*/migrations/*,*/static/CACHE/*,docs,node_modules,venv
ignore = I001, I005, W503, E203

[pycodestyle]
max-line-length = 120
exclude = .tox,.git,*/migrations/*,*/static/CACHE/*,docs,node_modules,venv

[coverage:run]
include = src/*
omit = *migrations*, *tests*
plugins =
    django_coverage_plugin
